.cards {
  display: flex;
  justify-content: space-between;
}

.cards img {
  width: 160px;
  margin-top: 20px;
}

.card {
  width: 250px;
  border: rgba(0,0,0,0.2) 1px solid;
  margin: 25px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-bottom: 20px;
}